[submodule "justlog"]
	path = justlog
	url = https://github.com/mankinskin/justlog
[submodule "egui"]
	path = egui
	url = https://github.com/mankinskin/egui
	branch = placer-measure
[submodule "tracing-egui"]
	path = tracing-egui
	url = https://github.com/mankinskin/tracing-egui
[submodule "petgraph"]
	path = petgraph
	url = https://github.com/mankinskin/petgraph
