
[workspace]
resolver = "2"
exclude = [
  "./egui",
  "./rerun",
  "./egui/crates/eframe",
  "./tracing-egui",
  "./minimal_options",
  "./context-engine",
]
members = ["graph_app", "ngrams"]

[profile.release]
opt-level = 2 # fast and small wasm
