name: Deploy to GitHub Pages

on:
  push:
    branches: [main, master]
  workflow_dispatch:

# Allow only one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

permissions:
  contents: read
  pages: write
  id-token: write

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@nightly
        with:
          targets: wasm32-unknown-unknown

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: graph_app
          cache-targets: true
          cache-all-crates: true

      - name: Cache Trunk
        id: cache-trunk
        uses: actions/cache@v4
        with:
          path: ~/.cargo/bin/trunk
          key: trunk-${{ runner.os }}-0.21.14

      - name: Install Trunk
        if: steps.cache-trunk.outputs.cache-hit != 'true'
        uses: cargo-bins/cargo-binstall@main
      - name: Install Trunk Binary
        if: steps.cache-trunk.outputs.cache-hit != 'true'
        run: cargo binstall trunk -y

      - name: Build
        run: |
          cd graph_app
          ~/.cargo/bin/trunk build --release --public-url /${{ github.event.repository.name }}/

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: graph_app/dist

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
